@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Poiret+One&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


h1 {
font-family: 'Bebas Neue', cursive;
font-size : 50 px;	
}

body {
font-family: 'Poiret One', cursive;
font-size: 30 px;
margin: 0px;
}

a {
	text-decoration: none;

}




