.banner {
background-image: url(../../images/bann.jpg);
padding: 40px ;
background-size: cover;
background-position: top;
margin: 6px;
height: auto;
margin: auto;
}

.banner h1 {
font-size: 80px;
color: #fffad2;
align-content: space-around;
text-align: center;
}

.banner h2 {
font-size: 5 px;
font-weight: bolder;
margin-bottom: 60px;
margin: 90PX;
color: white ;
opacity: 0.7;
text-align: center;
}








